---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/Core.astro";
import dayjs from 'dayjs'

const posts = await getCollection("blog", ({ data }) => {
  return data.draft !== true
});
let seenYears: Set<number> = new Set()

const processedPosts = posts
  .sort((a, b) => (a.data.date > b.data.date ? 1 : a < b ? -1 : 0))
  .reverse()
  ---

<BaseLayout title="Posts I've written" description="Here you can find all of the blog posts I've hand crafted over the years">
  <main>
    <header>
      <h1>Posts I've written</h1>
    </header>
    <ul>
      {
        // TODO: Invent something nicer
        processedPosts
          .map((p) => {
            const currentYear = p.data.date.getFullYear();
            let header = null;
            if (!seenYears.has(currentYear)) {
              header = <h2>{currentYear}</h2>
              seenYears.add(currentYear)
            }
            return (
              <>
                {header}
                <li>
                  <a href={`/${p.collection}/${p.slug}`}>{p.data.title}</a>
                  <time>{dayjs(p.data.date).format('MMM DD')}</time>
                </li>
              </>
            );
          })
      }
    </ul>
  </main>
</BaseLayout>
