---
import BaseLayout from "../layouts/Core.astro";

import type { BookList } from "../schemas/books";

import books from "../data/books.yml";

const typedBooks = books as BookList[];
---

<BaseLayout
  title="Books"
  description="Find out what books I have been reading lately"
>
  <article>
    <header>
      <h1>Books</h1>
    </header>
    <div class="notice">
      <hr class="hidden" />
      <h3>
        <span>📚</span>
        How the rating system works
      </h3>
      <p>If a book has the loudspeaker emoji <span>(📣)</span>, it means that I found it interesting/enjoyable/compelling enough to bring it up in a discussion without being prompted.</p>
      <hr class="hidden" />
    </div>
    <div id="post-body">
      {
        typedBooks.map((yearGroup) => {
          const goalProgress = yearGroup.books.filter(
            (b) => b.progress === 100,
          ).length;
          const goalCompletion = (goalProgress * 100) / yearGroup.goal;
          return (
            <div class="grid-list">
              <header>
                <h2>{yearGroup.list}</h2>
                {yearGroup.goal && (
                  <div id="post-meta">
                    Yearly goal: {goalProgress} / {yearGroup.goal} books completed ({Math.round(goalCompletion)}%)
                  </div>
                )}
              </header>
              <ul role="list">
                {yearGroup.books.map((b) => (
                  <li>
                    <div>
                      <img
                        alt={`A cover photo of the book titled ${b.title}`}
                        src={b.cover}
                      />
                      <a href={b.link} target="_blank" rel="noopener noreferer">
                        <span>{b.title}</span>
                      </a>
                    </div>
                    <dl>
                      {b.progress === 100 && (
                        <div>
                          <dd>
                            {b.date_finished?.toISOString().split("T")[0]}
                            {b.recommended && <span>📣</span>}
                          </dd>
                        </div>
                      )}
                      {b.progress !== 100 && (
                        <p>{b.progress}% read</p>
                      )}
                    </dl>
                  </li>
                ))}
              </ul>
            </div>
          );
        })
      }
    </div>
  </article>
</BaseLayout>
