---
import BaseLayout from "../layouts/Core.astro";

import type { GameList } from "../schemas/games";

import games from "../data/games.yml";

import { Image } from 'astro:assets';

const typedGames = games as GameList[];
---

<BaseLayout
  title="Videogames"
  description="Check out what games I have been playing in recent times"
>
  <article>
    <header>
      <h1>Videogames</h1>
    </header>
    <div id="post-body">
      {
        typedGames.map((gameList) => (
          <div class="grid-list">
            <header>
              <h2>{gameList.list}</h2>
            </header>
            <ul role="list">
              {gameList.games
                .map((game) => (
                  <li>
                    <div>
                      <Image
                        alt={`Box art for the game titled ${game.title}`}
                        src={game.cover}
                        width={game.cover_width}
                        height={game.cover_height}
                      />
                      <a
                        href={game.link}
                        target="_blank"
                        rel="noopener noreferer"
                      >
                        <span>{game.title}</span>
                      </a>
                    </div>
                    <div>
                      <dd>
                        {game.platform} {game.replay && "· Replay"}
                      </dd>
                      {game.completed !== "0000-00-00" && (
                        <dd>Finished: {game.completed}</dd>
                      )}
                    </div>
                  </li>
                ))}
            </ul>
          </div>
        ))
      }
    </div>
  </article>
</BaseLayout>
