---
import BaseLayout from "../layouts/Core.astro";

import manga from "../data/manga.json";

import { Image } from 'astro:assets';
---

<BaseLayout
  title="Books"
  description="The freshest panels directed right into my eyeballs"
>
  <article>
    <header>
      <h1>Manga</h1>
    </header>
    <div id="post-body">
      <div class="grid-list">
        <header>
          <h2>Ongoing manga</h2>
        </header>
        <ul role="list">
          {manga.filter(m => m.chapters === null).map((m) => (
            <li>
              <div>
                <Image
                  alt={`A cover image of ${m.title}, a manga series by ${m.author}`}
                  src={m.cover}
                  width={m.cover_width}
                  height={m.cover_height}
                  style="border-radius: 3px; width: auto; max-width: 16rem;"
                />
                <figcaption style="display: none;">You can learn more by visiting <a target="_blank" href={manga.url}>Anilist</a></figcaption>
                <a href={m.url} target="_blank" rel="noopener noreferer">
                  <span>{m.title}</span>
                </a>
              </div>
              <dl>
                {m.progress} chapters read
              </dl>
            </li>
          ))}
        </ul>
      </div>
      <div class="grid-list">
        <header>
          <h2>Manga that has wrapped up</h2>
        </header>
        <ul role="list">
          {manga.filter(m => m.chapters !== null).map((m) => (
            <li>
              <div>
                <Image
                  alt={`A cover image of ${m.title}, a manga series by ${m.author}`}
                  src={m.cover}
                  width={m.cover_width}
                  height={m.cover_height}
                  style="border-radius: 3px; width: auto; max-width: 16rem;"
                />
                <figcaption style="display: none;">You can learn more by visiting <a target="_blank" href={manga.url}>Anilist</a></figcaption>
                <a href={m.url} target="_blank" rel="noopener noreferer">
                  <span>{m.title}</span>
                </a>
              </div>
              <dl>
                {m.progress !== 100 && (
                  <p>{m.progress}% read</p>
                )}
              </dl>
            </li>
          ))}
        </ul>
      </div>
    </div>
  </article>
</BaseLayout>
