---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/Core.astro";

import * as dayjs from 'dayjs'

const reviews = await getCollection("reviews");
let seenYears: Set<number> = new Set()
---

<BaseLayout title="Reviews" description="Years ago, I used to write game reviews as a personal hobby. That website no longer exists but I've archived them to reflect my writing progression over time.">
  <main>
    <header>
      <h1>Reviews</h1>
    </header>
    <ul>
      {
        // TODO: Invent something nicer
        reviews
          .sort((a, b) => (a.data.date > b.data.date ? 1 : a < b ? -1 : 0))
          .reverse()
          .map((r) => {
            const currentYear = r.data.date.getFullYear();
            let header = null;
            if (!seenYears.has(currentYear)) {
              header = <h2>{currentYear}</h2>
              seenYears.add(currentYear)
            }
            return (
              <>
                {header}
                <li>
                  <a href={`/${r.collection}/${r.id}`}>{r.data.title}</a>
                  <time>{dayjs(r.data.date).format('MMM DD')}</time>
                </li>
              </>
            );
          })
      }
    </ul>
  </main>
</BaseLayout>
