---
import type { MetaOIA } from "../schemas/metaoia";
import oias from "../data/metaoia.yml";

const metaoias = oias as MetaOIA;
---

<table>
  <thead>
    <tr>
      {metaoias.headings.map((h) => <th>{h}</th>)}
    </tr>
  </thead>
  <tbody>
    {
      metaoias.entries.map((e) => (
        <tr>
          <td>{e.RequestDate}</td>
          <td>{e.Subject}</td>
          <td>{e.DeniedUnder}</td>
        </tr>
      ))
    }
  </tbody>
</table>

<strong>Sources</strong>
<ul>
  {metaoias.sources.map(s => <li>{s.Duration}: <a href={s.SourceURL}>{s.SourceTitle}</a></li>)}
</ul>