---
import type { CollectionEntry } from "astro:content";

interface Props {
  projects: CollectionEntry<"projects">[];
}

const { projects } = Astro.props;
---

<ul>
  <h2>Ongoing</h2>
  {
    projects
      .filter((p) => p.data.ongoing)
      .sort((a, b) => a.data.title.localeCompare(b.data.title))
      .map((p) => (
        <li>
          <a href={`/${p.collection}/${p.slug}`}>{p.data.title}</a>
        </li>
      ))
  }
  <h2>Archived</h2>
  {
    projects
      .filter((p) => !p.data.ongoing)
      .sort((a, b) => a.data.title.localeCompare(b.data.title))
      .map((p) => (
        <li>
          <a href={`/${p.collection}/${p.slug}`}>{p.data.title}</a>
        </li>
      ))
  }
</ul>
