---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Core.astro";
import dayjs from 'dayjs'

export async function getStaticPaths() {
  const books = await getCollection("books");
  return books.map((entry) => ({
    params: { id: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);

const {
  title,
  subtitle,
  authors,
  length,
  publisher,
  published,
  isbn,
  link,
  status,
  cover,
  cover_height,
  cover_width,
  date_finished,
  progress,
} = entry.data;

let fullTitle = title;
if (subtitle != null) {
  fullTitle = `${title}: ${subtitle}`;
}
---

<Layout title={fullTitle}>
  <article class="book-entry">
    <div id="post-body">
      <h1>{title}</h1>
      <center>
        <figure>
          <img src={cover} height={cover_height} width={cover_width} alt=`Book cover for ${title}` />
        </figure>
      </center>
      <h2>Metadata</h2>
      <ul>
        <li><b>Authors</b>: {authors.join(' and ')}</li>
        <li><b>Publisher</b>: {publisher}</li>
        <li><b>Published</b>: {dayjs(published).format('MMMM DD, YYYY')}</li>
        <li><b>Page Count</b>: {length}</li>
        <li><b>Info</b>: <a href={link}>{link}</a></li>
        <li><b>ISBN</b>: {isbn}</li>
      </ul>
      <h2>Progress</h2>
      <ul>
        <li><b>Status</b>: {status}</li>
        {progress !== 100 && <li><b>Progress</b>: {progress}%</li>}
        {progress === 100 && <li><b>Date Finished</b>: {dayjs(date_finished).format('MMMM DD, YYYY')}</li>}
      </ul>
      <Content />
    </div>
  </article>
</Layout>
