---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Core.astro";
import dayjs from 'dayjs'

export async function getStaticPaths() {
  const books = await getCollection("books");
  return books.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const {
  title,
  subtitle,
  authors,
  pageCount,
  publisher,
  published,
  isbn10,
  // isbn13,
  link,
  status,
  cover,
  cover_height,
  cover_width,
  date_finished,
  recommended,
  progress,
} = entry.data;
---

<Layout title={fullTitle}>
  <article class="book-entry">
    <div id="post-body">
      <h1>{title}<h1>
      <img src={cover} height={cover_height} width={cover_width} />
      <ul>
        <li>Recommended: <input type="checkbox" checked={recommended} /></li>
        {progress !== 100 && <li>Progress: {progress}%</li>}
        <li>Status: {status}</li>
        <li>Authors: {authors.join(' and ')}</li>
        <li>Publisher: {publisher}</li>
        <li>Published: {dayjs(published).format('MMMM DD, YYYY')}</li>
        <li>Date Finished: {dayjs(date_finished).format('MMMM DD, YYYY')}</li>
        <li>Page Count: {pageCount}</li>
        <li>Info: <a href={link}>{link}</a></li>
        <li>ISBN 10: {isbn10}</li>
      </ul>
    </div>
  </article>
</Layout>
