---
import BaseLayout from "../../layouts/Base.astro";

import { getCollection } from "astro:content";

const allBlogPosts = await getCollection("blog")
const allProjects = await getCollection("projects")
const allReviews = await getCollection("reviews")
const allQuestions = await getCollection("questions")
---

<BaseLayout
  title="Build information"
  description="This page contains build information about this site and the tools that is uses"
>
  <article>
    <header>
      <h1>Build information</h1>
    </header>
    <p>Sometimes it's handy to check when my site was last built, and with what variables especially if I'm transitioning things behind the scenes such as DNS records or static hosting.</p>
    <br />
    <div id="post-body">
      <table>
        <tr>
          <th>Name</th>
          <th>Value</th>
        </tr>
        <tr>
          <td>Build timestamp</td>
          <td>{new Date().toISOString()}</td>
        </tr>
        <tr>
          <td>Total Blog posts</td>
          <td>{allBlogPosts.length}</td>
        </tr>
        <tr>
          <td>Total Projects</td>
          <td>{allProjects.length}</td>
        </tr>
        <tr>
          <td>Total Reviews</td>
          <td>{allReviews.length}</td>
        </tr>
        <tr>
          <td>Total Questions</td>
          <td>{allQuestions.length}</td>
        </tr>
        <tr>
          <td>Shell language</td>
          <td>{process.env.LANG}</td>
        </tr>
        <tr>
          <td>CI Info (<a href="https://docs.github.com/en/actions/learn-github-actions/environment-variables#default-environment-variables">Github Actions</a>)</td>
          <td>
            <ul>
              <li>CI: {process.env.CI}</li>
              <li>Github Action: {process.env.GITHUB_ACTION}</li>
              <li>Github Actor: {process.env.GITHUB_ACTOR}</li>
              <li>Github Job: {process.env.GITHUB_JOB}</li>
              <li>Github Ref: {process.env.GITHUB_REF}</li>
              <li>Github Run Attempt: {process.env.GITHUB_RUN_ATTEMPT}</li>
              <li>Github Run ID: {process.env.GITHUB_RUN_ID}</li>
              <li>Github Run Number: {process.env.GITHUB_RUN_NUMBER}</li>
              <li>Github SHA: {process.env.GITHUB_SHA}</li>
              <li>Runner Arch: {process.env.RUNNER_ARCH}</li>
              <li>Runner OS: {process.env.RUNNER_OS}</li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
  </article>
</BaseLayout>
